.author {
  display: flex;
  margin: $sp-4 0;

  .author-image {
    border-radius: 50%;
    height: 100px;
    margin-right: $sp-4;
    width: auto;
  }

  .anchor-heading {
    right: auto;
    left: -$sp-5;
  }

  .author-name,
  .author-meta,
  p {
    margin: 0 0 $sp-1 0;
  }

  .author-name {
    @extend .d-inline-block;
  }

  .author-pronouns {
    @extend .label, .text-grey-dk-300, .bg-grey-lt-000;

    user-select: none;
  }

  .author-meta {
    dt, dd, dd + dt {
      margin-top: 0;
    }
  }

  @include mq(sm) {
    .author-meta {
      display: grid;
      grid-template-columns: auto 1fr;
    }
  }
}
